@{
    ViewData["Title"] = "Update";
}

@model CategoryUpdateDTO

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ form-element ] start -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5>Update Category</h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <form method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="@Model.categoryGetDTO.Id" />
                                <div class="form-group">
                                    <label asp-for="@Model.categoryPostDTO.Name">Category Name</label>
                                    <input class="form-control" asp-for="@Model.categoryPostDTO.Name" placeholder="Name" value="@Model.categoryGetDTO.Name">
                                    <span asp-validation-for="@Model.categoryPostDTO.Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Select Animals</label><br />
                                    @foreach (var item in ViewBag.Animals)
                                    {
                                        <input type="checkbox" name="categoryPostDTO.SelectedAnimals" value="@item.Id"
                                           @(Model.categoryGetDTO.Animals.Any(c => c.Id == item.Id) ? "checked=\"checked\"" : "") />
                                        @item.Name <br />
                                    }
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Select Sub-categories</label><br />
                                    @foreach (var item in ViewBag.SubCategories)
                                    {
                                        <input type="checkbox" name="categoryPostDTO.SelectedSubCategories" value="@item.Id"
                                           @(Model.categoryGetDTO.SubCategories.Any(c => c.Id == item.Id) ? "checked=\"checked\"" : "") />
                                        @item.Name <br />
                                    }
                                </div>
                            
                                <div style="margin-top: 20px">
                                    <button type="submit" class="btn  btn-primary ">Submit</button>
                                    <button asp-controller="Category" asp-action="Index" class="btn btn-light">Back to List</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ form-element ] end -->
</section>



